[Unit]
Description=selenoid
[Service]
Type=simple
WorkingDirectory=/home/
Restart=always
ExecStart=/home/cm selenoid update --browsers-json config/browsers.json -limit 20
[Install]
WantedBy=multi-user.target
