[Unit]
Description=selenoid
[Service]
Type=simple
WorkingDirectory=/home/
Restart=always
ExecStart=/home/cm -limit 50 -cpu 1.0 -mem 1g
[Install]
WantedBy=multi-user.target
